@import "~bootstrap/scss/bootstrap.scss";

.clock-container{
    background: coral;
    width :600px;
    height: 100px;
    margin-top: 20%;
    margin:auto;
    color:rgb(4, 4, 122);    
}

h1{
    margin-top: 4%;
}